# IEOR E4501 Final Project_Gloria Li & Isha Yadav

[Project prompt](https://docs.google.com/document/d/1ogme9BJeHb2IZ6UREavUorF--nnxoWCYAAi8AZ4Q5jQ/edit?usp=sharing) and [grading rubric](https://docs.google.com/document/d/1XI9Yq_e-U-D3iH4jTPAtNteeP2Q9mtJ9NKbePWKeN_g/edit?usp=sharing).

## Setup

In [1]:
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import geopandas as gpd
import requests
import psycopg2
import pathlib
import os
import shapely

from io import BytesIO
from sodapy import Socrata
from sqlalchemy import create_engine, text
from shapely.geometry import Point, Polygon
from geoalchemy2 import Geometry, WKTElement
from shapely.geometry.base import BaseGeometry
from datetime import datetime
from dateutil.relativedelta import relativedelta

## Part 1: Data Preprocessing

### 1.1 Downloading the NYC OpenData datasets

#### 1.1.A Downloading & Cleaning 311 Complaint Data

In [2]:
app_token = 'aBYlzgjVOid4cigCMdpeUXvf6'

# Define URL using the field names & query parameters according to the official API documentation
service_request_url_base = (
    "https://data.cityofnewyork.us/resource/erm2-nwe9.geojson"
    "?$select="
    # Keeping only relevant columns, with Unique Key as the PrimaryKey
    "unique_key, created_date, incident_zip, complaint_type, city, "
    "x_coordinate_state_plane, y_coordinate_state_plane, latitude, longitude"
    "&$where="
    # Filtering data within the time frame of 01/01/2022 to 02/29/2024
    "created_date >= '2022-01-01T00:00:00' AND created_date <= '2024-02-29T23:59:59'"
    " AND incident_zip IS NOT NULL AND complaint_type IS NOT NULL AND city IS NOT NULL"
    " AND x_coordinate_state_plane IS NOT NULL AND y_coordinate_state_plane IS NOT NULL"
    " AND latitude IS NOT NULL AND longitude IS NOT NULL"
)

def fetch_data(url_base, max_records=7000000):
    offset = 0
    limit = 100000  # Set a high but manageable batch size for each API request
    frames = []
    
    while True:
        url = f"{url_base}&$limit={limit}&$offset={offset}&$$app_token={app_token}"
        response = requests.get(url)
        if response.status_code == 200:
            gdf = gpd.read_file(BytesIO(response.content))
            if gdf.empty:
                print("No more data available to download.")
                break
            
            frames.append(gdf)
            offset += limit  # Increment the offset by the limit to fetch the next batch of records until all rows are fetched
            print(f"Downloaded {len(gdf)} records, total downloaded: {offset}")
            
            if offset >= max_records:
                print("Reached the maximum record limit.")
                break
        else:
            print(f"Failed to download data. Status code: {response.status_code}, Response: {response.text}")
            break
    
    # Combine all fetched data into a single GeoDataFrame
    if frames:
        all_data = gpd.GeoDataFrame(pd.concat(frames, ignore_index=True))
        return all_data
    else:
        return gpd.GeoDataFrame()

# Fetch data
gdf_311 = fetch_data(service_request_url_base)

if not gdf_311.empty:
    # Normalize SRIDs if needed
    gdf_311.set_crs(epsg=4326, inplace=True)
    # Output for review
    print("\n311 Service Request Data Info and Preview:")
    print(gdf_311.info())
    print(gdf_311.head())
else:
    print("No data to display.")

Downloaded 100000 records, total downloaded: 100000
Downloaded 100000 records, total downloaded: 200000
Downloaded 100000 records, total downloaded: 300000
Downloaded 100000 records, total downloaded: 400000
Downloaded 100000 records, total downloaded: 500000
Downloaded 100000 records, total downloaded: 600000
Downloaded 100000 records, total downloaded: 700000
Downloaded 100000 records, total downloaded: 800000
Downloaded 100000 records, total downloaded: 900000
Downloaded 100000 records, total downloaded: 1000000
Downloaded 100000 records, total downloaded: 1100000
Downloaded 100000 records, total downloaded: 1200000
Downloaded 100000 records, total downloaded: 1300000
Downloaded 100000 records, total downloaded: 1400000
Downloaded 100000 records, total downloaded: 1500000
Downloaded 100000 records, total downloaded: 1600000
Downloaded 100000 records, total downloaded: 1700000
Downloaded 100000 records, total downloaded: 1800000
Downloaded 100000 records, total downloaded: 1900000
Downloaded 100000 records, total downloaded: 2000000
Downloaded 100000 records, total downloaded: 2100000
Downloaded 100000 records, total downloaded: 2200000
Downloaded 100000 records, total downloaded: 2300000
Downloaded 100000 records, total downloaded: 2400000
Downloaded 100000 records, total downloaded: 2500000
Downloaded 100000 records, total downloaded: 2600000
Downloaded 100000 records, total downloaded: 2700000
Downloaded 100000 records, total downloaded: 2800000
Downloaded 100000 records, total downloaded: 2900000
Downloaded 100000 records, total downloaded: 3000000
Downloaded 100000 records, total downloaded: 3100000
Downloaded 100000 records, total downloaded: 3200000
Downloaded 100000 records, total downloaded: 3300000
Downloaded 100000 records, total downloaded: 3400000
Downloaded 100000 records, total downloaded: 3500000
Downloaded 100000 records, total downloaded: 3600000
Downloaded 100000 records, total downloaded: 3700000
Downloaded 100000 records, total downloaded: 3800000
Downloaded 100000 records, total downloaded: 3900000
Downloaded 100000 records, total downloaded: 4000000
Downloaded 100000 records, total downloaded: 4100000
Downloaded 100000 records, total downloaded: 4200000
Downloaded 100000 records, total downloaded: 4300000
Downloaded 100000 records, total downloaded: 4400000
Downloaded 100000 records, total downloaded: 4500000
Downloaded 100000 records, total downloaded: 4600000
Downloaded 100000 records, total downloaded: 4700000
Downloaded 100000 records, total downloaded: 4800000
Downloaded 100000 records, total downloaded: 4900000
Downloaded 100000 records, total downloaded: 5000000
Downloaded 100000 records, total downloaded: 5100000
Downloaded 100000 records, total downloaded: 5200000
Downloaded 100000 records, total downloaded: 5300000
Downloaded 100000 records, total downloaded: 5400000
Downloaded 100000 records, total downloaded: 5500000
Downloaded 100000 records, total downloaded: 5600000
Downloaded 100000 records, total downloaded: 5700000
Downloaded 100000 records, total downloaded: 5800000
Downloaded 100000 records, total downloaded: 5900000
Downloaded 100000 records, total downloaded: 6000000
Downloaded 100000 records, total downloaded: 6100000
Downloaded 100000 records, total downloaded: 6200000
Downloaded 100000 records, total downloaded: 6300000
Downloaded 100000 records, total downloaded: 6400000
Downloaded 100000 records, total downloaded: 6500000
Downloaded 28421 records, total downloaded: 6600000
No more data available to download.

311 Service Request Data Info and Preview:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 6528421 entries, 0 to 6528420
Data columns (total 10 columns):
 #   Column                    Dtype
---  ------                    -----
 0   city                      object
 1   latitude                  object
 2   created_date              datetime64[ns]
 3   longitude                 object
 4   incident_zip              object
 5   unique_key                object
 6   complaint_type            object
 7   y_coordinate_state_plane  object
 8   x_coordinate_state_plane  object
 9   geometry                  geometry
dtypes: datetime64[ns](1), geometry(1), object(8)
memory usage: 498.1+ MB
None
                  city            latitude        created_date  \
0             BROOKLYN   40.61984470790165 2024-02-29 23:59:31
1             BROOKLYN   40.62326209885787 2024-02-29 23:59:27
2             BROOKLYN  40.700045051717986 2024-02-29 23:59:13
3       QUEENS VILLAGE  40.713059105370455 2024-02-29 23:58:39
4  SOUTH RICHMOND HILL   40.68414711447904 2024-02-29 23:58:22

            longitude incident_zip unique_key      complaint_type  \
0  -73.98238922950797        11204   60462274        Building/Use
1  -74.03020533301675        11209   60452687      HEAT/HOT WATER
2  -73.91198085791687        11237   60451322     Noise - Vehicle
3  -73.75260269888014        11429   60449904    Blocked Driveway
4  -73.83262819498826        11419   60452421  Noise - Commercial

  y_coordinate_state_plane x_coordinate_state_plane geometry
0                   165103                   989139     None
1                   166349                   975865     None
2                   194334                  1008656     None
3                   199160                  1052835     None
4                   188574                  1030670     None

In [3]:
gdf_311.set_crs(epsg=4326, inplace=True)

,city,latitude,created_date,longitude,incident_zip,unique_key,complaint_type,y_coordinate_state_plane,x_coordinate_state_plane,geometry
0,BROOKLYN,40.61984470790165,2024-02-29 23:59:31,-73.98238922950797,11204,60462274,Building/Use,165103,989139,None
1,BROOKLYN,40.62326209885787,2024-02-29 23:59:27,-74.03020533301675,11209,60452687,HEAT/HOT WATER,166349,975865,None
2,BROOKLYN,40.700045051717986,2024-02-29 23:59:13,-73.91198085791687,11237,60451322,Noise - Vehicle,194334,1008656,None
3,QUEENS VILLAGE,40.713059105370455,2024-02-29 23:58:39,-73.75260269888014,11429,60449904,Blocked Driveway,199160,1052835,None
4,SOUTH RICHMOND HILL,40.68414711447904,2024-02-29 23:58:22,-73.83262819498826,11419,60452421,Noise - Commercial,188574,1030670,None
...,...,...,...,...,...,...,...,...,...,...
6528416,BRONX,40.82980806226658,2022-01-01 00:01:17,-73.91923492133385,10456,52931678,Noise - Residential,241609,1006601,None
6528417,NEW YORK,40.80256198626038,2022-01-01 00:01:04,-73.96417609586966,10025,52938624,Noise - Street/Sidewalk,231674,994168,None
6528418,BROOKLYN,40.59747269272421,2022-01-01 00:00:57,-73.98885877127528,11214,52933158,Noise - Residential,156952,987344,None
6528419,BROOKLYN,40.72314288436064,2022-01-01 00:00:10,-73.94366208445774,11222,52934953,Noise - Street/Sidewalk,202742,999866,None
6528420,NEW YORK,40.75666417742652,2022-01-01 00:00:00,-73.99019293432467,10036,52940375,Air Quality,214950,986967,None

#### 1.1.B Downloading & Cleaning 2015 Tree Data

In [4]:
app_token = 'aBYlzgjVOid4cigCMdpeUXvf6'

# Define URL using the field names & query parameters according to the official API documentation
# Keeping only relevant columns, with Tree ID as the PrimaryKey:
tree_url_base = (
    "https://data.cityofnewyork.us/resource/5rq2-4hqu.geojson"
    "?$select=tree_id, spc_common, health, status, zipcode, latitude, longitude, x_sp, y_sp"
    "&$where=latitude IS NOT NULL AND longitude IS NOT NULL AND spc_common IS NOT NULL"
    "&$limit=700000"
)

def fetch_data(url):
    response = requests.get(url)
    if response.status_code == 200:
        gdf = gpd.read_file(BytesIO(response.content))
        if gdf.empty:
            print("No more data available to download.")
        else:
            print(f"Downloaded {len(gdf)} rows")
        return gdf
    else:
        print("Failed to download data. Status code:", response.status_code)
        return gpd.GeoDataFrame()

# Fetch tree data
gdf_trees = fetch_data(tree_url_base)

# Normalize SRIDs if necessary to ensure consistency
gdf_trees.set_crs(epsg=4326, inplace=True)  # Assuming the data needs to be in WGS 84

# Remove any duplicate entries
gdf_trees.drop_duplicates(subset=['tree_id'], inplace=True)

# Display tree data for verification
print("Tree Data Info and Preview:")
print(gdf_trees.info())
print(gdf_trees.head())

Downloaded 652169 rows
Tree Data Info and Preview:
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 652169 entries, 0 to 652168
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   health      652167 non-null  object
 1   zipcode     652169 non-null  object
 2   latitude    652169 non-null  object
 3   y_sp        652169 non-null  object
 4   tree_id     652169 non-null  object
 5   spc_common  652169 non-null  object
 6   x_sp        652169 non-null  object
 7   longitude   652169 non-null  object
 8   status      652169 non-null  object
 9   geometry    0 non-null       geometry
dtypes: geometry(1), object(9)
memory usage: 54.7+ MB
None
  health zipcode     latitude           y_sp tree_id       spc_common  \
0   Fair   11375  40.72309177  202756.768749  180683        red maple
1   Fair   11357  40.79411067  228644.837379  200540          pin oak
2   Good   11211  40.71758074  200716.891267  204026      honeylocust
3   Good   11211  40.71353749  199244.253136  204337      honeylocust
4   Good   11215  40.66677776  182202.425999  189565  American linden

            x_sp     longitude status geometry
0  1027431.14821  -73.84421522  Alive     None
1  1034455.70109  -73.81867946  Alive     None
2  1001822.83131   -73.9366077  Alive     None
3  1002420.35833  -73.93445616  Alive     None
4  990913.775046  -73.97597938  Alive     None

In [5]:
gdf_trees.set_crs(epsg=4326, inplace=True)

,health,zipcode,latitude,y_sp,tree_id,spc_common,x_sp,longitude,status,geometry
0,Fair,11375,40.72309177,202756.768749,180683,red maple,1027431.14821,-73.84421522,Alive,None
1,Fair,11357,40.79411067,228644.837379,200540,pin oak,1034455.70109,-73.81867946,Alive,None
2,Good,11211,40.71758074,200716.891267,204026,honeylocust,1001822.83131,-73.9366077,Alive,None
3,Good,11211,40.71353749,199244.253136,204337,honeylocust,1002420.35833,-73.93445616,Alive,None
4,Good,11215,40.66677776,182202.425999,189565,American linden,990913.775046,-73.97597938,Alive,None
...,...,...,...,...,...,...,...,...,...,...
652164,Good,11211,40.71321078,199121.636255,155433,pin oak,996740.685965,-73.95494401,Alive,None
652165,Good,11375,40.71519444,199873.647547,183795,Kentucky yellowwood,1023989.07438,-73.8566502,Alive,None
652166,Good,10314,40.62076153,165466.07627,166161,red maple,946351.410431,-74.13651724,Alive,None
652167,Good,10457,40.85082819,249271.950653,184028,red maple,1011053.64553,-73.90311472,Alive,None
652168,Fair,11365,40.73216525,206095.538318,200607,red maple,1043136.35794,-73.78752646,Alive,None

### 1.2 Saving Zillow and Zip Shapefile into Jupyter Directory

In [6]:
# Loading local data files
data_dir = pathlib.Path("data")
rent_path = data_dir / "zillow_rent_data.csv"
df_zillow = pd.read_csv(rent_path)

shapefile_path = data_dir / "nyc_zipcodes.shp"
gdf_zipcode = gpd.read_file(shapefile_path)
gdf_zipcode = gdf_zipcode.to_crs("EPSG:4326")

### 1.3 Downloading & Cleaning  Zillow historical rent dataset

In [7]:
import pandas as pd

# Load Zillow data from the uploaded CSV file
df_zillow = pd.read_csv(rent_path)

all_zillow_col = df_zillow.columns
all_zillow_col = all_zillow_col[93:]

# Define the columns to always include that do not contain dates
always_include = ['RegionName', 'RegionID', 'CountyName', 'City', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
       '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31',
       '2022-11-30', '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31',
       '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
       '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31' ]

# Filter the DataFrame to keep only the relevant columns
df_zillow_filtered = df_zillow[always_include]

# Display DataFrame information and first few rows for review
df_info = df_zillow_filtered.info()
df_head = df_zillow_filtered.head()

df_info, df_head.to_dict()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6632 entries, 0 to 6631
Data columns (total 29 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  6632 non-null   int64
 1   RegionID    6632 non-null   int64
 2   CountyName  6632 non-null   object
 3   City        6572 non-null   object
 4   2022-01-31  3430 non-null   float64
 5   2022-02-28  3595 non-null   float64
 6   2022-03-31  3748 non-null   float64
 7   2022-04-30  3816 non-null   float64
 8   2022-05-31  3919 non-null   float64
 9   2022-06-30  4020 non-null   float64
 10  2022-07-31  4071 non-null   float64
 11  2022-08-31  4119 non-null   float64
 12  2022-09-30  4148 non-null   float64
 13  2022-10-31  4242 non-null   float64
 14  2022-11-30  4315 non-null   float64
 15  2022-12-31  4396 non-null   float64
 16  2023-01-31  4575 non-null   float64
 17  2023-02-28  4660 non-null   float64
 18  2023-03-31  4829 non-null   float64
 19  2023-04-30  4924 non-null   float64
 20  2023-05-31  5039 non-null   float64
 21  2023-06-30  5107 non-null   float64
 22  2023-07-31  5131 non-null   float64
 23  2023-08-31  5189 non-null   float64
 24  2023-09-30  5230 non-null   float64
 25  2023-10-31  5340 non-null   float64
 26  2023-11-30  5472 non-null   float64
 27  2023-12-31  5743 non-null   float64
 28  2024-01-31  6631 non-null   float64
dtypes: float64(25), int64(2), object(2)
memory usage: 1.5+ MB

(None,
 {'RegionName': {0: 77494, 1: 8701, 2: 77449, 3: 77084, 4: 79936},
  'RegionID': {0: 91982, 1: 61148, 2: 91940, 3: 91733, 4: 93144},
  'CountyName': {0: 'Fort Bend County',
   1: 'Ocean County',
   2: 'Harris County',
   3: 'Harris County',
   4: 'El Paso County'},
  'City': {0: 'Katy', 1: 'Lakewood', 2: 'Katy', 3: 'Houston', 4: 'El Paso'},
  '2022-01-31': {0: 1764.28164947427,
   1: nan,
   2: 1691.7157214165472,
   3: 1751.8429973483824,
   4: 1226.7240851710278},
  '2022-02-28': {0: 1762.2624388222737,
   1: nan,
   2: 1721.397080099205,
   3: 1773.675787473779,
   4: 1223.1214662513528},
  '2022-03-31': {0: 1770.5528606511505,
   1: nan,
   2: 1742.8415176560006,
   3: 1784.4439200146694,
   4: 1224.8646689899376},
  '2022-04-30': {0: 1785.3250910032634,
   1: nan,
   2: 1764.5534059992597,
   3: 1799.2939306688727,
   4: 1236.405717686852},
  '2022-05-31': {0: 1810.3218760477048,
   1: nan,
   2: 1744.3540380216473,
   3: 1817.1160640967723,
   4: 1260.7190444080318},
  '2022-06-30': {0: 1833.942228601282,
   1: nan,
   2: 1743.6776979343208,
   3: 1830.0514199059423,
   4: 1272.4430365535738},
  '2022-07-31': {0: 1856.0621079511825,
   1: nan,
   2: 1781.7797055953415,
   3: 1845.9100365540417,
   4: 1309.4489562238896},
  '2022-08-31': {0: 1857.0899579438767,
   1: nan,
   2: 1845.912780948404,
   3: 1824.8720959033492,
   4: 1326.3443384394468},
  '2022-09-30': {0: 1850.251951218144,
   1: nan,
   2: 1847.882750168804,
   3: 1823.26643054174,
   4: 1347.3117813212832},
  '2022-10-31': {0: 1840.882840302048,
   1: nan,
   2: 1827.7551369595344,
   3: 1801.659511226992,
   4: 1332.9913761952594},
  '2022-11-30': {0: 1826.146228887636,
   1: nan,
   2: 1788.1399210035777,
   3: 1811.8236328271405,
   4: 1339.029176672175},
  '2022-12-31': {0: 1828.661398681075,
   1: nan,
   2: 1785.265578971592,
   3: 1807.044715922519,
   4: 1341.6770971211638},
  '2023-01-31': {0: 1850.3206411168148,
   1: nan,
   2: 1777.6111069198953,
   3: 1811.758913676316,
   4: 1376.028265963448},
  '2023-02-28': {0: 1860.0773054054887,
   1: nan,
   2: 1787.6465955680037,
   3: 1811.4643697755853,
   4: 1391.67578836529},
  '2023-03-31': {0: 1867.984989396102,
   1: nan,
   2: 1796.2417807042514,
   3: 1827.186575143044,
   4: 1384.4762898444424},
  '2023-04-30': {0: 1843.953064934871,
   1: nan,
   2: 1799.2320965714205,
   3: 1841.0803529165569,
   4: 1373.5061181403466},
  '2023-05-31': {0: 1853.546220112684,
   1: nan,
   2: 1803.978537918292,
   3: 1859.306448162425,
   4: 1378.7430009659556},
  '2023-06-30': {0: 1860.8050598218256,
   1: nan,
   2: 1815.603186916033,
   3: 1864.8880234507687,
   4: 1381.9456315822138},
  '2023-07-31': {0: 1873.3357866552965,
   1: nan,
   2: 1824.6616451255356,
   3: 1860.577000622061,
   4: 1405.2198820509798},
  '2023-08-31': {0: 1879.080480154468,
   1: nan,
   2: 1837.3389973859455,
   3: 1864.5872645119653,
   4: 1403.055652998551},
  '2023-09-30': {0: 1882.0926038782443,
   1: nan,
   2: 1837.127290678088,
   3: 1861.155499693681,
   4: 1409.5716095712485},
  '2023-10-31': {0: 1877.6368026451717,
   1: nan,
   2: 1822.343232733849,
   3: 1889.3106232807136,
   4: 1414.1976786918185},
  '2023-11-30': {0: 1857.6365893490008,
   1: nan,
   2: 1809.2312674443504,
   3: 1879.22710846632,
   4: 1418.8185916253865},
  '2023-12-31': {0: 1846.7017351136203,
   1: nan,
   2: 1813.1185562939293,
   3: 1886.0035822652856,
   4: 1434.125145400959},
  '2024-01-31': {0: 1839.65496031746,
   1: 1772.5,
   2: 1830.4108843537413,
   3: 1881.000505050505,
   4: 1430.949494949495}})

In [8]:
# Filter to include only entries where City is 'New York'
df_zillow_filtered=df_zillow_filtered[df_zillow_filtered['City']=='New York']
df_zillow_filtered.head(6632)

,RegionName,RegionID,CountyName,City,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,...,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31
5,11385,62093,Queens County,New York,2509.054214,2511.479296,2523.393469,2567.347532,2643.069051,2741.305526,...,2808.032817,2853.002812,2891.976411,2912.450226,2938.806070,2955.446452,2944.372938,2918.206892,2888.346480,2880.094236
7,11208,62019,Kings County,New York,NaN,NaN,2175.876695,2221.684226,2244.635030,2281.951598,...,2436.143335,2482.460397,2611.911540,2574.997140,2545.014303,2534.897818,2553.020263,2648.498763,2642.337313,2704.611111
13,11236,62046,Kings County,New York,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2269.106840,2338.199472,2360.574201,2387.586858,2402.457491,2487.500000
14,10467,61807,Bronx County,New York,1550.922543,1607.726640,1647.610455,1671.162249,1664.858068,1677.572862,...,1695.177852,1748.353876,1825.836631,1883.032947,1899.143080,1958.261105,1987.880524,2066.328960,2011.173298,2036.252778
15,11373,62085,Queens County,New York,2235.261917,2274.638306,2340.801631,2381.756319,2407.443451,2444.372215,...,2595.856831,2570.915900,2608.660190,2596.701012,2660.168354,2642.649107,2670.325604,2668.151494,2672.319180,2689.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6375,10280,61771,New York County,New York,4112.799138,4204.602103,4274.980466,4280.863924,4277.871521,4269.392150,...,4412.441417,4483.983624,4533.245597,4613.955728,4621.894250,4647.778216,4569.463105,4559.732705,4424.083102,4307.705803
6475,10282,61773,New York County,New York,5853.160248,5774.935003,6063.839892,6330.286461,6569.935447,6715.858614,...,7036.754731,6980.121285,7092.098977,7124.896337,6962.699767,6866.420029,6739.684950,6868.710937,6777.653684,6906.666667
6482,11109,62010,Queens County,New York,3972.759987,4026.796391,4085.205381,4179.727583,4267.817844,4342.227011,...,4485.793991,4536.940052,4553.962333,4646.028252,4696.226932,4738.496958,4659.700057,4571.279711,4486.991402,4481.239177
6553,10006,61620,New York County,New York,3509.910596,3526.609738,3618.528928,3671.320084,3758.945963,3834.065094,...,3854.075866,3958.198260,3976.243216,3968.035550,3949.256636,3970.440764,3999.572587,4004.023222,3921.431891,3914.000000
6630,10004,61618,New York County,New York,4752.515243,4843.820519,5006.078218,5040.592965,5150.997327,5211.324315,...,5214.029414,5241.715117,5303.140730,5266.321434,5361.400722,5366.014683,5425.512870,5307.152249,5063.896586,5030.416667

### 1.4 Downloading & Cleaning NYC Zipcode Shapefile dataset

In [9]:
# Loading the shapefile
gdf_zipcodes = gpd.read_file(shapefile_path)
gdf_zipcodes = gdf_zipcodes.to_crs("EPSG:4326")


# Display initial data
print("Initial DataFrame Info:")
print(gdf_zipcodes.info())
print(gdf_zipcodes.head())

# Cleaning and filtering the GeoDataFrame
# Removing unnecessary columns - let's assume we only need the ZIP Code and the geometry for your project
gdf_zipcodes = gdf_zipcodes[['ZIPCODE', 'geometry']]

# Normalize column names
gdf_zipcodes.columns = ['zip_code', 'geometry']

# Normalize the Spatial Reference Identifier (SRID) to a common one used in other datasets (e.g., WGS 84 - EPSG:4326)
gdf_zipcodes = gdf_zipcodes.to_crs(epsg=4326)

# Remove invalid data points - assuming all zip codes in this file are valid as per the dataset scope
# If there were criteria to filter invalid data, they would be applied here

# Check for and remove any duplicates based on the 'zip_code' column
gdf_zipcodes.drop_duplicates(subset='zip_code', inplace=True)

# Final DataFrame output for review
print("\nFinal DataFrame Info:")
print(gdf_zipcodes.info())
print(gdf_zipcodes.head())

Initial DataFrame Info:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     263 non-null    object
 1   BLDGZIP     263 non-null    object
 2   PO_NAME     263 non-null    object
 3   POPULATION  263 non-null    float64
 4   AREA        263 non-null    float64
 5   STATE       263 non-null    object
 6   COUNTY      263 non-null    object
 7   ST_FIPS     263 non-null    object
 8   CTY_FIPS    263 non-null    object
 9   URL         263 non-null    object
 10  SHAPE_AREA  263 non-null    float64
 11  SHAPE_LEN   263 non-null    float64
 12  geometry    263 non-null    geometry
dtypes: float64(4), geometry(1), object(8)
memory usage: 26.8+ KB
None
  ZIPCODE BLDGZIP   PO_NAME  POPULATION          AREA STATE  COUNTY ST_FIPS  \
0   11436       0   Jamaica     18681.0  2.269930e+07    NY  Queens      36
1   11213       0  Brooklyn     62426.0  2.963100e+07    NY   Kings      36
2   11212       0  Brooklyn     83866.0  4.197210e+07    NY   Kings      36
3   11225       0  Brooklyn     56527.0  2.369863e+07    NY   Kings      36
4   11218       0  Brooklyn     72280.0  3.686880e+07    NY   Kings      36

  CTY_FIPS                   URL  SHAPE_AREA  SHAPE_LEN  \
0      081  http://www.usps.com/         0.0        0.0
1      047  http://www.usps.com/         0.0        0.0
2      047  http://www.usps.com/         0.0        0.0
3      047  http://www.usps.com/         0.0        0.0
4      047  http://www.usps.com/         0.0        0.0

                                            geometry
0  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

Final DataFrame Info:
<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 248 entries, 0 to 262
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip_code  248 non-null    object
 1   geometry  248 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 5.8+ KB
None
  zip_code                                           geometry
0    11436  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1    11213  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2    11212  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3    11225  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4    11218  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [10]:
import geopandas as gpd

# Load the shapefile and ensure CRS is set to WGS 84 (EPSG:4326)
gdf_zipcodes = gpd.read_file(shapefile_path)
gdf_zipcodes = gdf_zipcodes.to_crs("EPSG:4326")

# Select only the required columns, ensuring we reference them by their correct current names
# Use the original column names if the DataFrame hasn't been modified yet, otherwise use the new names.
try:
    gdf_filtered = gdf_zipcodes[['ZIPCODE', 'PO_NAME', 'STATE', 'COUNTY', 'geometry']]
except KeyError:
    gdf_filtered = gdf_zipcodes[['zip_code', 'post_office_name', 'state', 'county', 'geometry']]

# Optionally, rename columns to maintain consistency or meet requirements
gdf_filtered.columns = ['zip_code', 'post_office_name', 'state', 'county', 'geometry']

# Display the filtered DataFrame
print(gdf_filtered.head())

  zip_code post_office_name state  county  \
0    11436          Jamaica    NY  Queens
1    11213         Brooklyn    NY   Kings
2    11212         Brooklyn    NY   Kings
3    11225         Brooklyn    NY   Kings
4    11218         Brooklyn    NY   Kings

                                            geometry
0  POLYGON ((-73.80585 40.68291, -73.80569 40.682...
1  POLYGON ((-73.93740 40.67973, -73.93487 40.679...
2  POLYGON ((-73.90294 40.67084, -73.90223 40.668...
3  POLYGON ((-73.95797 40.67066, -73.95576 40.670...
4  POLYGON ((-73.97208 40.65060, -73.97192 40.650...

In [11]:
gdf_filtered.head(300)

,zip_code,post_office_name,state,county,geometry
0,11436,Jamaica,NY,Queens,"POLYGON ((-73.80585 40.68291, -73.80569 40.682..."
1,11213,Brooklyn,NY,Kings,"POLYGON ((-73.93740 40.67973, -73.93487 40.679..."
2,11212,Brooklyn,NY,Kings,"POLYGON ((-73.90294 40.67084, -73.90223 40.668..."
3,11225,Brooklyn,NY,Kings,"POLYGON ((-73.95797 40.67066, -73.95576 40.670..."
4,11218,Brooklyn,NY,Kings,"POLYGON ((-73.97208 40.65060, -73.97192 40.650..."
...,...,...,...,...,...
258,10310,Staten Island,NY,Richmond,"POLYGON ((-74.12065 40.64104, -74.12057 40.641..."
259,11693,Far Rockaway,NY,Kings,"POLYGON ((-73.84076 40.62536, -73.84306 40.627..."
260,11249,Brooklyn,NY,Kings,"POLYGON ((-73.95805 40.72442, -73.95772 40.724..."
261,10162,New York,NY,New York,"POLYGON ((-73.95133 40.76931, -73.95165 40.769..."
262,10119,New York,NY,New York,"POLYGON ((-73.99354 40.75145, -73.99320 40.751..."

## Part 2: Storing Data

In [12]:
#!createdb glorisha

In [13]:
#!psql --dbname glorisha -c 'CREATE EXTENSION postgis;'

### 2.1 Creating tables

In [14]:
db_username = "postgres"
db_name = "glorisha"
db_url = f"postgresql+psycopg2://{db_username}@localhost/{db_name}"
db_schema = "schema.sql"

def setup_new_postgis_database(user_name, db_name):
    # Terminate all existing connections to the database
    disconnect_command = f"SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE pg_stat_activity.datname = '{db_name}' AND pid <> pg_backend_pid();"
    os.system(f"psql -U {user_name} --dbname postgres -c \"{disconnect_command}\"")

    # Drop the database if it exists
    os.system(f"dropdb -U {user_name} --if-exists {db_name}")

    # Create the database
    os.system(f"createdb -U {user_name} {db_name}")

    # Create PostGIS extension if not already existing
    os.system(f"psql -U {user_name} --dbname {db_name} -c 'CREATE EXTENSION IF NOT EXISTS postgis;'")

setup_new_postgis_database(db_username, db_name)

 pg_terminate_backend
----------------------
(0 rows)

CREATE EXTENSION

In [15]:
engine = create_engine(db_url)

In [16]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

# Schema for the 311 service requests in NYC
create_311_table = """
CREATE TABLE IF NOT EXISTS tbl_nyc_311
(
    id_complaint INTEGER PRIMARY KEY, -- Explicitly retaining manual control over IDs
    complaint_date DATE,
    type_complaint TEXT,
    zip_code INTEGER,
    city_name TEXT,
    coord_x INTEGER,
    coord_y INTEGER,
    geo_latitude FLOAT,
    geo_longitude FLOAT,
    point_geom GEOMETRY(Point, 4326)
);

-- Creating a spatial index for efficient geo-queries
CREATE INDEX IF NOT EXISTS idx_311_geometry ON tbl_nyc_311 USING GIST (point_geom);
"""

# Schema for trees in NYC
create_tree_table = """
CREATE TABLE IF NOT EXISTS tbl_nyc_tree
(
    id_tree INTEGER PRIMARY KEY,
    tree_status TEXT,
    tree_health TEXT,
    tree_species TEXT,
    zip_code INTEGER,
    city_name TEXT,
    geo_lat FLOAT,
    geo_long FLOAT,
    coord_x FLOAT,
    coord_y FLOAT,
    point_geom GEOMETRY(Point, 4326)
);

-- Spatial index for the tree data
CREATE INDEX IF NOT EXISTS idx_tree_geometry ON tbl_nyc_tree USING GIST (point_geom);
"""

# Rent data schema with dynamically generated fields for each month
rental_start_date = datetime(2022, 1, 31)
rental_end_date = datetime(2024, 1, 31)
rent_dates = []
current_date = rental_start_date

while current_date <= rental_end_date:
    month_year = current_date.strftime("%Y%m")
    rent_dates.append(f"rent_{month_year}_amt FLOAT")
    current_date += relativedelta(months=1)

rent_columns = ",\n    ".join(rent_dates)
create_rent_table = (
    "CREATE TABLE IF NOT EXISTS tbl_nyc_rent\n"
    "(\n"
    "    zip_code INTEGER PRIMARY KEY,\n"
    "    state_code TEXT,\n"
    "    city_name TEXT,\n"
    "    " + rent_columns + "\n"
    ");"
)

# Schema for the geographical representation of NYC zip codes
create_zipcode_table = """
CREATE TABLE IF NOT EXISTS tbl_nyc_zipcode
(
    zip_code INTEGER PRIMARY KEY,
    city_name TEXT,
    state_code TEXT,
    county_name TEXT,
    poly_geom GEOMETRY(Polygon, 4326)
);

-- Index to speed up spatial queries
CREATE INDEX IF NOT EXISTS idx_zipcode_geometry ON tbl_nyc_zipcode USING GIST (poly_geom);
"""

In [17]:
# Executing the schema files to create tables
def create_table(engine, table_schema):
    """Creating a table using the SQL schema"""
    try:
        with engine.connect() as connection:
            connection.execute(text(table_schema))
        print("Table Created")
    except Exception as e:
        print(f"Error: {e}")

In [18]:
# Creating 4 tables
create_table(engine, create_311_table)
create_table(engine, create_tree_table)
create_table(engine, create_rent_table)
create_table(engine, create_zipcode_table)

Table Created
Table Created
Table Created
Table Created

### 2.2 Adding data into tables

In [19]:
def upload_dataframes_to_sql(dataframes_dict, sql_engine):
    """Upload dataframes to a SQL database, handling both standard and GeoDataFrames."""
    for table, dataframe in dataframes_dict.items():
        # Determine if the dataframe contains geographical data
        if isinstance(dataframe, gpd.GeoDataFrame):
            # Transform geometries to WKT elements if needed
            dataframe['geometry'] = dataframe['geometry'].apply(
                lambda geom: WKTElement(geom.wkt, srid=4326) if isinstance(geom, BaseGeometry) else geom
            )
            # Specify geometry data type for SQL
            geom_type = 'GEOMETRY'
            # Attempt to write GeoDataFrame to SQL
            try:
                dataframe.to_sql(table, con=sql_engine, if_exists='replace', index=False,
                                 dtype={'geometry': Geometry(geom_type, srid=4326)})
                print(f"Uploaded GeoDataFrame to {table}.")
            except Exception as error:
                print(f"Failed to upload {table}: {error}")
        else:
            # Handle non-geographical dataframes
            try:
                dataframe.to_sql(table, con=sql_engine, if_exists='replace', index=False)
                print(f"Uploaded DataFrame to {table}.")
            except Exception as error:
                print(f"Failed to upload {table}: {error}")

In [20]:
# Copying dataframes to prepare them for SQL upload
zipcode_data_sql = gdf_zipcodes.copy()
complaints_data_sql = gdf_311.copy()
trees_data_sql = gdf_trees.copy()
rent_data_sql = df_zillow.copy()

# Mapping table names to the corresponding DataFrames for SQL upload
dataframes_dict = {
    "nyc_zipcodes": zipcode_data_sql,
    "nyc_311_complaints": complaints_data_sql,
    "nyc_trees": trees_data_sql,
    "nyc_rents": rent_data_sql,
}

In [21]:
upload_dataframes_to_sql(dataframes_dict, engine)

/var/folders/9q/bq9dyq6501z3b0c3byc4t5dc0000gn/T/ipykernel_38979/4071635124.py:7: UserWarning: Geometry column does not contain geometry.
  dataframe['geometry'] = dataframe['geometry'].apply(

Uploaded GeoDataFrame to nyc_zipcodes.
Uploaded GeoDataFrame to nyc_311_complaints.
Uploaded GeoDataFrame to nyc_trees.
Uploaded DataFrame to nyc_rents.